<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="/s/<%=question.heading%>"><%=question.heading%></a></h3>
  </div>
  <div class="panel-body">
    <button type="button" class="btn btn-default <% if (question.voted) {%>  btn-success  <%}%>" id="upvote<%=question.id%>">
	  <span class="glyphicon glyphicon-arrow-up"></span>
	</button>
		<%=question.text%>
	<script type="text/javascript">
	$(function(){
		$("#upvote<%=question.id%>").click(function(){
			console.log(<%=question.id%>);
			var url = "/api/question/vote";
			var data = {
				"questionid": <%=question.id%>,
				"userid": <%=voterid%>,
				"positive": 1
			};
			$.ajax({
			  type: "POST",
			  context: document.body,
			  url: url,
			  data: data,
			  dataType: "json"
			});
			$(this).addClass("btn-success");
		});
		// var url = "/api/isvoted";
		// var data = {
		// 	"questionid": <%=question.id%>,
		// 	"userid": <%=question.userid%>
		// };
		// $.ajax({
		//   url: url,
		//   data: data,
		//   success: function(){
		//   	$("upvote<%=question.id%>").addClass("btn-success");
		//   }
		// });
	}); 
	</script>
  </div>
</div>