<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="/user/<%=question.heading%>"><%=question.heading%></a></h3>
  </div>
  <div class="panel-body">
	<div>
	    <button type="button" class="left-half btn btn-default <% if (question.voted) {%>  btn-success  <%}%>" id="upvote<%=question.id%>">
			<span class="glyphicon glyphicon-arrow-up"></span>
		</button>
		<div class="right-half">&nbsp;<%=question.title%></div>
	</div>
	<div>
		<button type="button" class="left-half btn btn-default text-toggler ">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</button>
		<div class="right-half extra-text" style="display:none;">&nbsp;<%=question.text%></div>	
	</div>
	<script type="text/javascript">
	$(function(){
		$("#upvote<%=question.id%>").click(function(){
		console.log(<%=question.id%>);
		if ($(this).hasClass("btn-success")){
			var url = "/api/question/unvote";
		} else {
			var url = "/api/question/vote";
		}
			var data = {
				"questionid": <%=question.id%>,
				"userid": <%=voterid%>,
				"positive": 1
			};
			$.ajax({
			  type: "POST",
			  context: document.body,
			  url: url,
			  data: data,
			  dataType: "json"
			});
			$(this).toggleClass("btn-success");
		});
		$(".text-toggler").click(function(){
			if($($(this).children('.glyphicon')).hasClass("glyphicon-chevron-right")){
				$($(this).children('.glyphicon')).removeClass('glyphicon-chevron-right');
				$($(this).children('.glyphicon')).addClass('glyphicon-chevron-down');
				$($($(this).parent()).children('.extra-text')).show();
			}else{
				$($(this).children('.glyphicon')).removeClass('glyphicon-chevron-down');
				$($(this).children('.glyphicon')).addClass('glyphicon-chevron-right');
				$($($(this).parent()).children('.extra-text')).hide();	
			}
		});
	}); 
	</script>
  </div>
</div>