<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="/user/<%=question.heading%>"><%=question.heading%></a> asked on <a href="/s/<%=question.sub%>">/s/<%=question.sub%></a></h3>
  </div>
  <div class="panel-body">
	<div>
	    <button type="button" class="left-half btn btn-default <% if (question.voted) {%>  btn-success  <%}%>" id="upvote<%=question.id%>">
			<span class="glyphicon glyphicon-star"></span>
		</button>
		<div class="right-half">&nbsp;<a href="/s/<%=question.sub%>/<%=question.id%>"><%=question.title%></a></div>
	</div>
	<div style="margin-top:3px;">
		<button type="button" class="left-half btn btn-default text-toggler">
			<span class="glyphicon <% if (question.hide) {%>glyphicon-chevron-right<%} else {%>glyphicon-chevron-down<%}%>"></span>
		</button>
		<div class="right-half extra-text" <% if (question.hide) {%>style="display:none;"<%}%>>&nbsp;<%=question.text%></div>	
	</div>
	<script type="text/javascript">
	$(function(){
		$("#upvote<%=question.id%>").click(function(){
		console.log(<%=question.id%>);
		if ($(this).hasClass("btn-success")){
			var url = "/api/question/unvote";
		} else {
			var url = "/api/question/vote";
		}
			var data = {
				"questionid": <%=question.id%>,
				"userid": <%=voterid%>,
				"positive": 1
			};
			$.ajax({
			  type: "POST",
			  context: document.body,
			  url: url,
			  data: data,
			  dataType: "json"
			});
			$(this).toggleClass("btn-success");
		});
	});  
	</script>
  </div>
</div>